@import url(http://fonts.googleapis.com/css?family=Graduate);

#tabbar {
	margin-bottom: 20px;
}
.box {
	border: 1px solid gray;
	border-radius: 8px;
	margin: 5px;
	padding: 1px;
	height: 70px;
	width: 70px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	line-height: 70px;
	background-color: #ccc;
	color: #fff;
	font-weight: bold;
}
.player-row {
	display: table;
	color: white;
	width: 600px;
	margin-bottom: 5px;
	padding: 8px;
	border-radius: 8px;
	margin-left: 100px;
}
#grid {
	position: relative;
}
#settings button {
    margin-left: 20px;
}
.box-head {
	background-color: #999;
	color: #fff;
	padding: 2px;
	text-align: center;
	border-radius: 4px;
	margin: 30px;
	width: 20px;
}
.box-head.box-col {
	margin-bottom: 10px;
	margin-left: -5px;
	margin-right: 65px;
}
.box-head.box-row {
	margin-right: 10px;
}
.team-name {
	font-family: 'Graduate', cursive;
	font-size: 24pt;
	text-align: center;
	background-color: rgb(66, 139, 202);
	color: #fefefe;
	border-radius: 8px;
	padding: 15px;
}
.team-name.horizontal {
	width: 780px;
	margin-left: 70px;
}
.team-name.vertical {
	position: absolute;
	height: 80px;
	width: 825px;
	left: -470px;
	top: 520px;
}
.vertical {
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
		 -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}